* {
  box-siz: border-box;
}

body {
  padding-right: 35%;
}

.filters {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 30%;
  background-color: white;
  padding: 1rem;
}

.filters label {
  padding-right: 1rem;
}

main {
  position: relative;
}

nav {
  padding: 1rem;
}

nav a {
  padding-right: 1rem;
  text-decoration: none;
}

nav a.active {
  text-decoration: underline;
}
