* {
  box-sizing: border-box;
}

body {
  width: 100%;
}

.filters {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 30%;
  background-color: white;
  padding: 1rem;
}

main {
  display: block;
  position: relative;
  width: 100%;

  padding-right: 35%;
}

nav {
  padding: 1rem;
}

nav a {
  padding-right: 1rem;
  text-decoration: none;
}

nav a.active {
  text-decoration: underline;
}

.hidden-filters .filters fieldset {
  display: none;
}

.hidden-filters main {
  padding-right: 0;
}

.filter-toggle {
  border: 1px solid black;
  cursor: pointer;
  border-radius: 3px;
  padding: 0.5rem 0.3rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.toggle-bar {
  text-align: right;
}
